{% capture selected_product_column_width %}megamenu_featured_product_{{ megamenu_number }}_column{% endcapture %}
{% capture horizontal_column %}megamenu_featured_product_horizontal_column_{{ megamenu_number }}{% endcapture %}
{% capture featured_product_title %}megamenu_featured_product_title_{{ megamenu_number }}{% endcapture %}

<div class="mega-col-nav {{ settings[selected_product_column_width] }}">
	<div class="mega-inner">
		<div class="is-module module">
			<div class="collection-responsive">
				<h3>{{ settings[featured_product_title] }}</h3>
				<div class="owl-container">
					<div data-owl="slide" 
						data-item-slide="{{ settings[horizontal_column] }}" 
						class="product-slide"
						data-nav="true"
						data-dot="false"
						>
						{% for product_number in (1..3) %}
							{% capture selected_product %}megamenu_featured_product_{{ megamenu_number }}_{{ product_number }}{% endcapture %}
							{% capture enable_selected_product_image %}megamenu_collection_image_{{ megamenu_number }}_{{ product_number }}{% endcapture %}
							{% capture selected_product_image %}megamenu_featured_product_image_{{ megamenu_number }}_{{ product_number }}.png{% endcapture %}
							{% assign product = all_products[settings[selected_product]] %}

							{% include "product-archive-horizontal-item" %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>