{% assign breadcrumb_class = 'account-breadcrumb' %}
{% include 'module-breadcrumb-title' %}
<div id="is-content" class="is-content">
	<div class="content-area container">
		<div class="site-main">
			
			<div class="row">
				<div class="col-sm-4">
					<div class="account-detail">
						<h3 class="heading-title">
							<span>{{ 'customer.account.details' | t }}</span>
						</h3>

						<h5>{{ customer.name }}</h5>

						{% if customer.default_address != nil %}
						<p>
							{{ customer.default_address.address1 }}<br>

							{% if customer.default_address.address2 != "" %}
								{{ customer.default_address.address2 }}<br>
							{% endif %}

							{% if customer.default_address.city != "" %}
								{{ customer.default_address.city }}<br>
							{% endif %}

							{% if customer.default_address.province_code != "" %}
								{{ customer.default_address.province_code | upcase }}<br>
							{% endif %}

							{% if customer.default_address.zip != "" %}
								{{ customer.default_address.zip | upcase }}<br>
							{% endif %}

							{% if customer.default_address.country != "" %}
								{{ customer.default_address.country }}<br>
							{% endif %}

							{% if customer.default_address.phone != "" %}
								{{ customer.default_address.phone }}
							{% endif %}
						</p>

						{% endif %}

						<p>
							<a class="btn btn-primary" href="/account/addresses">
								{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
							</a>
						</p>

					</div>
				</div>
				<div class="col-sm-8">
					<div class="account-orders">
						<h3 class="heading-title">
							<span>{{ 'customer.orders.title' | t }}</span>
						</h3>

						{% paginate customer.orders by 20 %}

							{% if customer.orders.size != 0 %}

								<div class="table-wrap">
									<table class="table">
										<thead>
											<tr>
												<th>{{ 'customer.orders.order_number' | t }}</th>
												<th>{{ 'customer.orders.date' | t }}</th>
												<th>{{ 'customer.orders.payment_status' | t }}</th>
												<th>{{ 'customer.orders.fulfillment_status' | t }}</th>
												<th>{{ 'customer.orders.total' | t }}</th>
											</tr>
										</thead>
										<tbody>
											{% for order in customer.orders %}
												<tr>
													<td>{{ order.name | link_to: order.customer_url }}</td>
													<td>{{ order.created_at | date: "%b %d, %Y" }}</td>
													<td>{{ order.financial_status_label }}</td>
													<td>{{ order.fulfillment_status_label }}</td>
													<td>{{ order.total_price | money }}</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>

								{% else %}

								<p>{{ 'customer.orders.none' | t }}</p>

							{% endif %}

							{% if paginate.pages > 1 %}
								<div class="text-center">
									{% include 'module-pagination' %}
								</div>
							{% endif %}

						{% endpaginate %}
					</div>
				</div>
			</div>

		</div> <!-- end .site-main -->
	</div> <!-- end .content-area -->
</div> <!-- end .is-content -->

